// Mixins

@mixin font-line-height($size) {
    font-size: $size / 1.5;
    height: $size;
    line-height: $size;
}

@mixin button-template() {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color:$primary;
	color:$white;
	font-weight: bold;
	&:hover {
		background-color: $light-gray * 2;
		color: $primary;
		border: 1px solid $primary;
	}
}

@mixin inverse-button-template() {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color:$white;
    color:$primary;
    font-weight: bold;
    border: 1px solid $primary;
    a {
        color: $primary;
        text-decoration: none;
    }
    &:hover {
        background-color: $primary;
        a {
            color: $white;
        }
    }
}

@mixin nav-font() {
    font-family: $font-stack;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
}

@mixin reset() {
    margin:0;
    padding:0;
}

@mixin background-image($image) {
    background-image:url("../res/#{$image}.jpg");
    background-repeat:no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

@mixin centerize($width) {
	width: $width;
	margin: 0 auto;
	display: block;
}

@mixin transition($duration,$type) {
	transition-duration: $duration;
    transition-timing-function: $type;
}