@import 'variables';
@import 'mixins';

// Button templates
.btn-temp {
	@include button-template();
	padding: 15px 20px 15px 20px;
}

.btn-temp-inverse {
	@include inverse-button-template();
	padding: 15px 20px 15px 20px;
}

// Background image
.background-image-right {
	@include side-background(right);
}

.background-image-left {
	@include side-background(left);
}

// Navigation
.navigation {
	width: 90%;
	padding-top: 45px;
}

.logo {
	position: absolute;
	top: 45px;
	left: 30px;
	z-index: 1000;
}

.login-bar {
	float: right;

	.login {
		margin-left: 20px;
	}
}

// Typography
h1, h2, h3, h4, h5, h6 {
	position: relative;
}

.primary-color {
	color: $primary;
}

h1 {
	line-height: 60px;
	font-size: 40px;
	font-weight: 300;
}

// Form hacks

.form-heading {
	margin-bottom: 8px;
}

.form-control {
	input, textarea {
		height: 40px;
		border: 1px solid #BCC5CD;
		border-radius: 6px;
	}

	select {
		background-image: linear-gradient(45deg, transparent 50%, #BCC5CD 50%), linear-gradient(135deg, #BCC5CD 50%, transparent 50%);
		background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
		background-size: 5px 5px, 5px 5px;
		background-repeat: no-repeat;
		padding-top: 10px;
		padding-left: 15px;
		height: 40px;
		border: 1px solid #BCC5CD;
		border-radius: 18px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.signup-social {
	margin-top: 70px;
}

// Social media buttons
.btn-google, .btn-google:hover {
	background: #E94335 !important;
	padding: 12px 24px;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	color: $white;
	margin-bottom: 20px;
}

.btn-facebook, .btn-facebook:hover {
	background: #4267B2 !important;
	padding: 12px 24px;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	color: $white;
	margin-bottom: 20px;
}