@import 'variables';
@import 'mixins';
// @import '../node_modules/font-awesome/scss/font-awesome';

body {
	font-family: $font-stack;
}

// Navigation bar
.navbar {
	height:160px;
	@include nav-font();

	.container {
		height:50px;
		width:90%;
		margin-top:60px;
	}

	.navbar-brand {
		height:40px;
		padding:0;
		margin-right:20px;
	}
	
	.mini-logo {
		@include font-line-height(12px);
		text-align:right;
	}

	a {
		color:$light-gray;
	}
	
	a:hover {
		color:$primary;
	}
	
	li {
		padding-left:15px;
		padding-right:10px;
	}

	.signup {
		@include button-template(30px);
	}
	
	.navbar-toggle {
		color:$white;
		height:50px;
		@include reset();
	}
}

// Outside navigation
.top {
	height:600px;
	width:100%;
	@include background-image(homepage--for-chefs);
}

.heading {
	@include font-line-height(60px);
	color: $white;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}

.heading-pink {
	@extend .heading;
	color: $primary;
	font-weight: 500;
	margin-top: -10px;
}

.request {
	@include button-template(30px);
	padding-top: 15px;
	padding-bottom: 15px;
	display:block;
	text-align:center;
}

// Footer
.footer {
	text-align: center;
	background-color: $gray;
	color: $light-gray;
	padding-top: 60px;
	padding-bottom: 50px;

	.row-1 {
		.social-media {
			display: block;
		}
	}

}

