// Variables for font and color themes

$font-stack: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$primary: #FF2C77;
$gray: #343740;
$light-gray: #BCC5CD;
$white: #FFFFFF;
$black: #000000;